<div class="bs-example" ng-controller="LoginController as vm">
    <ul class="nav nav-tabs">
        <li><a data-toggle="tab" href="#sign-in">Sign-In</a></li>
        <li><a data-toggle="tab" href="#sign-up">Sign-Up</a></li>
    </ul>
    <div class="tab-content">
        <div id="sign-in" class="tab-pane fade in active" style="padding-top:100px">
            <form>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Username</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" ng-model="vm.username" id="Username" placeholder="Enter your Username" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-5">
                        <input type="password" class="form-control" ng-model="vm.password" id="Password" placeholder="Password" required>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="offset-sm-2 col-sm-10">
                        <button type="submit" class="btn btn-primary" ng-submit="vm.login()">Sign in</button>
                    </div>
                </div>
            </form>
        </div>
        <div id="sign-up" class="tab-pane fade in" style="padding-top:100px">
            <form>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Username</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="username" placeholder="Enter your Username" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="name" placeholder="Enter your Name" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-5">
                        <input type="email" class="form-control" id="email" placeholder="Enter your Email" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-5">
                        <input type="password" class="form-control" id="password" placeholder="Password" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Contact No</label>
                    <div class="col-sm-5">
                        <input type="tel" value="+91-(555)-555-5555" class="form-control" id="contactNo" placeholder="Enter your Contact No" required>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="offset-sm-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">Sign up</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>